# Environnement
.env
.venv/
venv/
__pycache__/
*.pyc

# Base vectorielle (trop lourde pour GitHub)

# Secrets Streamlit
.streamlit/secrets.toml

# PDFs sources (droits d'auteur)
data/raw/

# Modèles cachés
.cache/
*.pt
*.bin
